{% extends "base_choice.html" %}

{% load to_empty %}

{% block title %}
<title>
    Результат выбора
</title>
{% endblock %}

{% block style %}
<style>
        .tables_caption {
        color: crimson;
        font-size: 14pt;
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div>
    <table border="1" width="550">
        <caption class="tables_caption"><b>Пользователи хотя бы двух Telegram-каналов</b></caption>
        <thead>
            <tr>
                <th>Пользователь</th>
                <th>Каналы</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td align="center" colspan="2"><a href="tg://resolve?domain=pardo8" target="_blank">Связаться с разработчиком</a></td>
            </tr>
        </tfoot>
        <tbody>
            {% for tg in telegram %}
            <tr>
                <td align="center">{{ tg.user }}</td>
                <td>{{ tg.channels|to_empty }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <form>
        <input type="button" value="В начало" onclick="javascript:window.location='http://44ec43aa-2e14-4ff1-ada3-d1b2e4418b0e.pub.cloud.scaleway.com:8003/set_channels/'"/>
    </form>
</div>
{% endblock %}
